<div class="main-page">
  <mat-card class="welcome-card">
    <mat-card-header class="welcome-card-header">
        <mat-card-title>Welcome to myFlix!</mat-card-title>
    </mat-card-header>
  <mat-card-actions class="welcome-card-actions">

  <button
    class = button
    mat-raised-button
    (click)="openUserRegistrationDialog()"
    style="margin-right: 10px;"
    color="primary"
  >
   <mat-icon>how_to_reg</mat-icon> Sign Up
  </button>
  <button
    class = button
    mat-raised-button
    color="primary"
    (click)="openUserLoginDialog()"
    style="margin-right: 10px;"
  >
  <mat-icon>login</mat-icon>  Login
  </button>

  </mat-card-actions>
</mat-card>

</div>