<mat-card class="genre-dialog">

  <div class="dialog-close-wrapper">
    <button mat-icon-button color="primary" mat-dialog-close aria-label="Example icon button with a home icon">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  
    <mat-card-title class="genre-dialog-title">{{ data.Name }}</mat-card-title>
    <br />
    <mat-dialog-content class="genre-dialog-content">
        <b>Name: </b>{{ data.Name}}
        <br>
        <b>Description </b>{{ data.Description }}
    </mat-dialog-content>
    <mat-card-actions class="genre-actions">
  
     
    </mat-card-actions>
  </mat-card>