<mat-card class="director-dialog">

<div class="dialog-close-wrapper">
  <button mat-icon-button color="primary" mat-dialog-close aria-label="Example icon button with a home icon">
    <mat-icon>close</mat-icon>
  </button>
</div>

  <mat-card-title class="director-dialog-title">{{ data.Name }}</mat-card-title>
  
  <br />

  <mat-dialog-content class="director-dialog-content">
      <b>Birthday: </b>{{ data.Birthday}}
      <br>
      <b>Bio: </b>{{ data.Bio }}
  </mat-dialog-content>


</mat-card>