.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  width:90%;
  margin: auto
}

.card-wrapper .mat-card img {

width: 100%;
height: auto;
aspect-ratio: 2/3;
object-fit: cover;
}

.dialog-close-wrapper {
  display: flex;
  justify-content: end;
}

@media (max-width: 750px) {

  .card-wrapper {
    display: flex;
    flex-direction: column;
  }
}