.user-profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px;
  
}


.user-profile-card {
  margin-top: 50px;
  display: flex;
  padding: 30px;
  flex-direction: column;
  box-shadow: 10px 5px 5px ;
  background-color: whitesmoke;
}

.user-profile-card-header {
  margin-bottom: 20px;
  color: olive;
  display: flex;
  justify-content: center;
}


.user-profile-card-content {
  color: olive;
}

.favorite-movies-header {
  margin: 25px,;
  justify-content: center;
  
}

.favorite-movies {
  border: 1.5px solid black;
  box-shadow: 1px 2px black;
  color: olive;
  background-color: whitesmoke;
  margin: 10px;
}

.favorite-movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.delete-fav-button {
  margin-left: 45%;
  
}

.button {
  text-transform: capitalize;
  align-content: center;
  flex-wrap: nowrap;
  left: 23%;

}

@media (max-width: 650px) {

  .main-button {
    margin: 0 auto;
    margin-bottom: 10px;
    flex-wrap: nowrap;
  }
}